{% extends 'base.html' %}


{% block content %}
<h3>De retour!!</h3>
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag}}
            {{ field }}
            {% if field.errors %}
                <ul class="error-list">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit">Plonges dans le blabla</button>
</form>
{% endblock %}